main {
  	min-height: 100%;
	padding: 3% 0 0 240px;
}

@media only screen and (max-width: 992px) {
  	main {
    	padding: 3% 0 0 0; 
	} 
}

.pointer{
	cursor: pointer;
}

.encuesta-collection{
	overflow: visible;
}
.dropdown-width{
	width: auto !important;
}

.modalOrden { width: 40% !important ; max-height: 60% !important ; overflow-y: hidden !important ;}

.modalEncuesta { height: 80% !important; max-height: 80% !important ; overflow-y: hidden !important ;}